*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background: url("../img/polygon_background-v1-transparent.png")  repeat center center, linear-gradient( -45deg, #293aa6 0%, #1f2d85 29%,#1d297c 65%, rgba(28, 39, 120, 0.737) 100% );
  background-size: cover;
  font-family: "Montserrat", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1f2d85;
  /* Colors */
  --color-text: #000;
  --color-bg-main: linear-gradient(  20deg, #293aa6 0%, #1f2d85 29%, #1d297c 65%, #1c2678 100% );
  --color-menu-item: #fff;
  --color-text: #fff;
  --grid-columns: 2;
  --grid-columns-mobile: 1;
  --details-bg-up: #374789;
	--details-bg-down: linear-gradient(  -20deg, #1c2678 100%, #1d297c 65%, #374789 0% );
  --color-menu-item-hover: #e0f3ca;
  --color-bg-menu: #cbf3ee;
  --color-bg-facts: #374789;
  --color-text-facts: #fff;
  --color-bg-img: #000;
  --color-bg-more-1: #fee9b1;
  --color-bg-more-2: #e0f3ca;
  --color-bg-more-3: #f3cae8;
  --color-bg-more-4: #cacaf3;
  --color-nav: #ddd;
  --color-nav-hover: #000;
  --color-link: #fff;
  --color-link-hover: #cbf3ee;
  color: var(--color-menu-item);
  min-height: 100vh;
  font-size: 14.5px;
}

/* Page Loader */
.js .loading::before {
  content: "";
  position: fixed;
  z-index: 100000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-bg-main);
}

.js .loading::after {
  content: "";
  position: fixed;
  z-index: 100000;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  pointer-events: none;
  opacity: 0;
  background: var(--color-text);
  animation: loaderAnim 0.8s ease-in infinite alternate forwards;
}

@keyframes loaderAnim {
  to {
    opacity: 1;
    transform: scale3d(0.5, 0.5, 1) rotate(90deg);
  }
}

a {
  text-decoration: none;
  color: var(--color-link);
  outline: none;
}

a:hover,
a:focus {
  color: var(--color-link-hover);
  outline: none;
}

p{
  font-size: 1em;
  font-weight: 200;
  line-height: 1.35;
}

p.contact{
  color: #7389ea;
  text-transform: uppercase;
  user-select: auto;
}

.hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none;
}

button {
  border: 0;
  background: none;
  margin: 0;
  padding: 0;
  font-family: inherit;
  cursor: pointer;
  -webkit-appearance: none;
}

button:focus {
  outline: none;
}

/* navbar */

.wrapper .custom-nav  {
  display: flex;
  padding: 0 10%;
  background-color: transparent;
  height: 60px;
  color: #fbfbfb;
  transition: all 0.35s ease;
  border-bottom: 1px solid #f8f9fa0d;
}
.wrapper .custom-nav  .logo-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  margin-right: 0.75rem;
}
.wrapper .custom-nav  .logo-menu .mob-menu {
  display: none;
}
.wrapper .custom-nav  .logo-menu .mob-menu .menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30px;
  width: 40px;
  position: relative;
  cursor: pointer;
}
.wrapper .custom-nav  .logo-menu .mob-menu .menu span {
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  transition: all 0.4s ease;
  -webkit-transform-origin: left;
  transform-origin: left;
}
.wrapper .custom-nav  .logo-menu .mob-menu .hamburger1.active span:nth-of-type(1) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: right;
  transform-origin: right;
}
.wrapper .custom-nav  .logo-menu .mob-menu .hamburger1.active span:nth-of-type(2) {
  opacity: 0;
}
.wrapper .custom-nav  .logo-menu .mob-menu .hamburger1.active span:nth-of-type(3) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: right;
  transform-origin: right;
}
.wrapper .custom-nav  .logo-menu .logo {
  margin-left: 0;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1.25rem;
}
.wrapper .custom-nav  .logo-menu .logo a {
  display: flex;
  align-items: center;
  transition: all 0.35s ease;
  text-decoration: none;
  color: currentColor;
}
.wrapper .custom-nav  .navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 1 1 auto;
}
.wrapper .custom-nav  .navbar .nav-list,
.wrapper .custom-nav  .navbar .nav-actions {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.wrapper .custom-nav  .navbar .nav-list li,
.wrapper .custom-nav  .navbar .nav-actions li {
  margin: 0 0.25rem;
}
.wrapper .custom-nav  .navbar .nav-list li a,
.wrapper .custom-nav  .navbar .nav-actions li a {
  display: inline-block;
  padding: 0.5rem 1.75rem;
  text-decoration: none;
  opacity: 0.5;
  font-family: Montserrat-Bold;
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 0;
}
.wrapper .custom-nav  .navbar .nav-list li a:hover,
.wrapper .custom-nav  .navbar .nav-actions li a:hover {
  opacity: 0.8;
  background: rgba(0, 0, 0, 0.1);
}
.wrapper .custom-nav  .navbar .nav-actions li a {
  display: flex;
  align-items: center;
  padding: 0.3rem;
  border-radius: 50%;
}
@media (max-width: 846px) {
  .wrapper .custom-nav  .navbar .nav-list li a, .wrapper .custom-nav  .navbar .nav-actions li a {
    padding: 0.5rem 0.75rem;
  }
}
@media (max-width: 768px) {
  .wrapper .custom-nav  {
    display: block;
    height: auto;
    max-height: unset;
  }
  .wrapper .custom-nav  .logo-menu {
    margin: 0 -1rem;
    padding: 0 1.5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  .wrapper .custom-nav  .logo-menu .mob-menu {
    display: block;
  }
  .wrapper .custom-nav  .navbar {
    flex-direction: column;
    align-items: unset;
    justify-content: unset;
    display: none;
  }
  .wrapper .custom-nav  .navbar.show {
    -webkit-animation: slide 0.5s ease;
    animation: slide 0.5s ease;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  @-webkit-keyframes slide {
    0% {
      display: none;
    }
    5% {
      display: flex;
      height: 0;
    }
    100% {
      height: auto;
    }
  }
  @keyframes slide {
    0% {
      display: none;
    }
    5% {
      display: flex;
      height: 0;
    }
    100% {
      height: auto;
    }
  }
  .wrapper .custom-nav  .navbar .nav-list,
  .wrapper .custom-nav  .navbar .nav-actions {
    flex-direction: column;
    width: 100%;
  }
  .wrapper .custom-nav  .navbar .nav-list li,
  .wrapper .custom-nav  .navbar .nav-actions li {
    margin: 0.25rem 0;
    flex: 1 1 auto;
    width: 100%;
    text-align: center;
  }
  .wrapper .custom-nav  .navbar .nav-list li a,
  .wrapper .custom-nav  .navbar .nav-actions li a {
    display: block;
  }
  .wrapper .custom-nav  .navbar .nav-actions {
    flex-direction: row;
    justify-content: space-between;
    border: unset;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin: 0.25rem 0;
  }
  .wrapper .custom-nav  .navbar .nav-actions li a {
    border-radius: unset;
    justify-content: center;
    align-items: center;
  }
}

/* header */

.main__header-container{
  height: 466px;
  width: 100%;
  margin: 140px 0 40px 0;
}

.main__header-container.main{ 
  background: url(../img/main-figure.svg) 88% no-repeat;
  background-size: 480px;
}

.main__header-container.about{ background: url(../img/development-figure.svg) 98% 96px no-repeat;
  background-size: 420px;
}

.main__header-container.projects{ background: url(../img/graphic-figure.svg) 94% 70px no-repeat;
  background-size: 480px;
}

.main__header-container.contact{ background: url(../img/contact-figure.svg) 93% 20px no-repeat;
  background-size: 400px;
}

.main__header-title{
  font-family: Montserrat-Bold;
  font-size: 165.89px;
  color: var(--color-menu-item);
  margin-top: 68px;
  letter-spacing: 12.1px;
  text-shadow: 0 0 40px #007bff69;
}

.main__header-subtitle{
  opacity: 0.28;
  font-family: Montserrat-Light;
  font-size: 28px;
  color: var(--color-menu-item);
  letter-spacing: 0.5px;
  margin-top: -32px;
  width: 60%;
}

.main__header-comments{
  opacity: 0.28;
  font-family: Montserrat-Bold;
  font-size: 18px;
  color: var(--color-menu-item);
  letter-spacing: 0;
  width: 30%;
  margin: 0 96px;
}

.main__header-comments-name{
  font-family: Montserrat-Light;
  font-size: 12px;
  color: var(--color-menu-item);
  letter-spacing: 0;
  margin: 0 96px;
}

@media (max-width: 992px) {
  .main__header-container{
    background-position: center 16em !important;
    background-size: 340px !important;
    height: 592px;
    width: 100%;
    margin: 80px 0 0 0;
    text-align: center;
  }
  .main__header-title{
    margin-top: 0;
    font-size: 120px;
  }
  .main__header-comments{
    width: 80%;
    margin: auto;
  }
  .main__header-subtitle {
    font-size: 22px;
    margin-top: -20px;
    width: 100%;
  }
}

@media (max-width: 580px) {
  .main__header-title{  
    font-size: 46px;
    margin-bottom: 20px;
  }
  .main__header-subtitle {
    font-size: 16px;
  }
  .main__header-container {
    background-position: center 12em !important;
    background-size: 210px !important;
    height: 470px;
    width: 100%;
    margin: 40px 0 0 0;
    text-align: center;
  }
  .main__header-comments{
    width: 90%;
    font-size: 12px;
  }
}

.carousel {
  display: none;
}

.services__mobile-content.card {
  margin-left: 25%;
  width: 100%;
}

.services__mobile-content .card-img {
  margin: 20px auto;
}

.services__mobile-content .card-body button {
  padding: 16px 28px;
  margin: 0 auto;
  font-size: 0.8em;
  border-bottom: 4px solid #fff;
}

@media (max-width: 992px) {
  .carousel {
    display: block;
  }
  .services__desktop {
    display: none;
  }
}

@media (max-width: 766px) {
  .carousel {
    display: block;
    margin-bottom: 4em;
  }
  .services__desktop {
    display: none;
  }
  .services__mobile-content .card-img {
    background-size: 80%;
  }
}

.icon--arrowlong {
  width: 2rem;
  height: 1.25rem;
}

.main__title {
  font-family: Montserrat-Bold;
  font-size: 48px;
  color: #ffffff;
  letter-spacing: 2.8px;
  padding-left: 96px;
  padding-top: 96px;
}

.main__subtitle {
  font-family: Montserrat-Light;
  font-size: 22px;
  color: rgba(216, 216, 216, 0.55);
  letter-spacing: 0;
  padding: 0 0 96px 96px;
}

@media (max-width: 566px) {
  .services__mobile-content .card-img {margin: 20px -30px;}
  .main__title{ padding: 0 0 0 15px;}
  .main__subtitle {padding: 0 0 30px 15px;}
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  background-color: transparent;
  border: 0px solid rgba(0, 0, 0, 0.125);
  border-left: 1px solid #fff;
  border-radius: 0;
  width: auto;
  height: 532px;
  padding: 48px 24px 48px 64px;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: unset;
}

.card:hover {
  background-color: #f0a277;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.card.web:hover {
  background-image: url("../img/wireframe_hover-services.png"),
    linear-gradient(5deg, rgba(246, 75, 49, 0) 0%, #f64b31 77%);
}
.card.development:hover {
  background-image: url("../img/wireframe_hover-services.png"),
    linear-gradient(5deg, rgba(246, 75, 49, 0) 0%, #f64b31 77%);
}
.card.graphic:hover {
  background-image: url("../img/wireframe_hover-services.png"),
    linear-gradient(5deg, rgba(246, 75, 49, 0) 0%, #f64b31 77%);
}
.card:hover .card-link {
  color: #f56e23;
}
.card-img {
  width: 220px;
  height: 210px;
  margin: 40px 0;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 0;
}
.card.web .card-img {
  background-image: url("../img/web-figure.svg");
}
.card.card.development .card-img {
  background-image: url("../img/development-figure.svg");
}
.card.card.graphic .card-img {
  background-image: url("../img/graphic-figure.svg");
}

.card-link {
  display: block;
  color: #fff;
  letter-spacing: 0.9px;
  padding: 16px 48px;
  text-align: center;
  font-size: 12.5px;
  font-family: Montserrat-Bold;
  background-color: #f8f9fa59;
  border-bottom: 4px solid #fff;
  box-shadow: 0 0 27px 0 rgba(0,176,235,0.29);
}

.card-link.orange {
  background-repeat: no-repeat;
  background-position: 74% 18px;
  background-size: 8px;
  background-image: url("../assets/icon/icon_row-right-white.svg");
}
.card:hover .card-link.orange {
  background-repeat: no-repeat;
  background-position: 74% 18px;
  background-size: 8px;
  background-image: url("../assets/icon/icon_row-right.svg");
}

.card-link.white {
  content: "";
  width: 20px;
  height: 20px;
  background: url("../assets/icon/icon_row-right-white.svg");
}

.card__detail {
  background: #ffffff;
  width: 8px;
  height: 184px;
  position: absolute;
  left: 0;
  top: 0;
}

.card__title {
  font-family: Montserrat-SemiBold;
  font-size: 18px;
  color: #f8e736;
  letter-spacing: 0;
}

.card__title-primary {
  font-family: Montserrat-Black;
  font-size: 32px;
  color: #ffffff;
  letter-spacing: 0;
}

@media (max-width: 1196px) {
  .card { padding: 48px 30px;}
  .card__title-primary { font-size: 21px;}
}

label {
  font-size: 0;
  color: var(--color-menu-item);
}

.form-group {
  margin: 0;
  padding: 0;
}

.form-control {
  display: block;
  width: 100%;
  height: auto;
  padding: 26px 0;
  font-size: 1em;
  color: #ffffff;
  letter-spacing: 4px;
  background-image: none;
  background-color: transparent;
  border-bottom: 1px solid #91A4CF;
  border-top: 1px solid rgba(255, 255, 255, 0);
  border-left: 1px solid rgba(255, 255, 255, 0);
  border-right: 1px solid rgba(255, 255, 255, 0);
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0),
    0 0 8px rgba(102, 175, 233, 0);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 8px rgba(102, 175, 233, 0);
  -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-control::placeholder {
  color: #91A4CF;
  border: 1px solid transparent;
}

.form-control:focus,
.form-control:hover {
  border-color: rgba(102, 175, 233, 0);
  border-bottom: 1px solid #66afe9;
  background: transparent;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0),
    0 0 8px rgba(102, 175, 233, 0);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 8px rgba(102, 175, 233, 0);
}

.btn {
  width: 72%;
  text-align: center;
  max-width: 100%;
  height: 3.25rem;
  display: block;
  border: 1px solid rgba(255,255,255,0.5);
  font-size: 1em;
  font-weight: 200;
  line-height: 36px;
  letter-spacing: .5px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 0;
  margin: 45px 0;
  background-color: rgba(255,255,255,0.05);
  -webkit-transition: border .5s, background .5s;
  transition: border .5s, background .5s;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn:hover {
  border: 1px solid #fff;
  background: rgba(255,255,255,0.15);
}

.swal-modal {
  border-radius: 0;
}

.swal-title {
  color: rgba(0, 123, 255, 0.5);
  font-weight: 600;
  text-transform: none;
  position: relative;
  display: block;
  padding: 13px 16px;
  font-size: 26px;
  line-height: normal;
  text-align: center;
}

.swal-button-container {
  display: inherit;
  position: relative;
  width: 90%;
  margin: 12px auto 0;
}

.swal-button {
  background-color: rgba(0, 123, 255, 0.15);
  color: rgba(0, 123, 255, 0.81);
  box-shadow: none;
  border-radius: 0;
  font-weight: 600;
  font-size: 14px;
  padding: 10px 24px;
  cursor: pointer;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  border: 1px solid rgba(0, 123, 255, 0.52);
  margin-bottom: 20px;
}

.swal-button:focus {
  outline: none;
  box-shadow: none;
}

/* footer */

footer{
  margin-top: 4em;
  border-top: 1px solid #f8f9fa0d;
  padding-top: 26px;
  color: var(--color-text)
}

/* grid items layout */

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

/* Icons */
.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}

main {
	position: relative;
	width: 100%;
}

.content {
	position: relative;
	display: block;
}

/* Header */
.codrops-header {
	padding: 2em;
	position: relative;
	z-index: 100;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	align-items: center;
}

.codrops-header__title {
	font-size: 2em;
	font-weight: bold;
	margin: 0;
	padding: 0.75em 0;
}

.codrops-links {
	position: relative;
	display: flex;
	justify-content: center;
	text-align: center;
	white-space: nowrap;
}

.codrops-icon {
	display: inline-block;
	padding: 0.25em;
}

.info {
	color: var(--color-info);
	text-align: center;
}

.github {
	display: block;
}

.grid {
	margin: 20em auto 7em;
	position: relative;
	padding: 0 1em;
	width: 100%;
	max-width: 1000px;
	display: grid;
	grid-template-columns: repeat(var(--grid-columns), 1fr);
}

.grid__item {
	padding: 0 4vw;
	margin: 0 0 12vh;
}

.grid__item:nth-child(odd) .product {
	margin-top: -8em;
}

@media (max-width: 768px) {
  .grid {
    margin: 4em auto 7em;
    grid-template-columns: repeat(var(--grid-columns-mobile), 1fr);
  }
  .grid__item:nth-child(odd) .product {margin-top: -2em;}
}

.product {
	height: 100%;
	padding-top: 10em;
	position: relative;
	cursor: pointer;
}

.product__bg {
	height: 15em;
	background: var(--details-bg-down);
	position: relative;
}

.product__img {
	max-height: 25em;
	margin: 0 auto;
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	pointer-events: none;
	transform: translate3d(-50%,0,0);
}

.product__title {
	position: relative;
	margin: 0.5em 0 0;
	font-size: 1.75em;
	color: var(--color-product-title);
  font-weight: 700;
  letter-spacing: 6px;
}

.product__subtitle {
	position: relative;
	margin: 0;
	text-transform: uppercase;
	color: var(--color-product-subtitle);
	font-size: 0.85em;
	letter-spacing: 0.115em;
}

.product:hover .product__subtitle {
	color: var(--color-link);
}

.product__description {
	opacity: 0;
	position: absolute;
}

.details {
	position: fixed;
	width: 100%;
	height: 100%;
	bottom: 0;
  left: 0;
	padding: 40vh 0 10vh 10vw;
	z-index: 1000;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
  pointer-events: none;
}

.details--open {
  pointer-events: auto;
  background-color: rgb(31, 30, 36);
}

.details > * {
	position: relative;
	opacity: 0;
}

.details__bg {
	width: 100%;
	position: fixed;
	left: 0;
}

.details__bg--up {
	top: 0;
	height: 100vh;
	background: var(--details-bg-up);
}

.details__bg--down {
	top: 40vh;
	height: 60vh;
	background: var(--details-bg-down);
}

.details__img {
	position: absolute;
	top: 10vh;
	right: 10vw;
	height: 80vh;
}

.details__bg,
.details__img {
	transform-origin: 0 0;
}

.details__title {
	margin: -1.5em 0 0.1em;
	font-size: 2.5em;
	color: var(--color-details-title);
  font-weight: 700;
  letter-spacing: 6px;
}

.details__subtitle {
	text-transform: uppercase;
	margin: 0.75em 0 1em 0;
	letter-spacing: 0.115em;
	font-size: 1.75em;
	color: var(--color-details-subtitle);
}

.details__description {
	line-height: 1.3;
	font-weight: 500;
  width: 62%;
	margin: 0;
	color: var(--color-details-desc);
}

.details__price {
	font-size: 0.1px;
	font-weight: bold;
	color: var(--color-price);
}

.details__behance {
    margin: auto 0 0 0;
    max-width: 290px;
}

.details__behance:hover {
	background: var(--color-btn-hover);
}

.details__close {
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
	background: none;
	margin: 2em;
	cursor: pointer;
	font-size: 0.85em;
	color: var(--color-close);
}

.details__magnifier {
	border: 0;
	background: none;
	background: var(--color-bg-magnifier);
	color: var(--color-magnifier);
	padding: 1em;
	border-radius: 50%;
	position: absolute;
	z-index: 1000;
	right: calc(21.5vh + 10vw);
	top: 75vh;
	cursor: pointer;
}

.details__magnifier:hover {
	background: var(--color-btn-hover);
}

.details__deco {
	width: 7em;
	height: 20px;
	background-position: 50% 97%;
	background-size: 150%;
}

/* Related demos */
.content--related {
	padding: 8em 5vw;
	font-weight: bold;
	text-align: center;
	background: #000;
	color: #f0f0f0;
}

.content--related a:hover {
	color: #fff;
}

.content--related h2 {
	font-size: 1.25em;
}

.content--related .demos {
	padding-bottom: 3em;
}

.media-item {
	display: inline-block;
	padding: 1em;
	vertical-align: top;
	transition: color 0.3s;
}

.media-item__img {
	max-width: 100%;
	opacity: 0.8;
	transition: opacity 0.3s;
}

.media-item:hover .media-item__img,
.media-item:focus .media-item__img {
	opacity: 1;
}

.media-item__title {
	font-size: 1em;
	margin: 0;
	padding: 0.5em;
}

@media screen and (max-width: 40em) {
	.grid {
		padding: 0 1vw;
	}
	.grid__item {
		padding: 0 2vw;
	}
	.product__bg {
		height: 10em;
	}
	.product__img {
		max-height: 19em;
	}
	.product__title {
		font-size: 1.25em;
	}
	.product__subtitle {
		font-size: 0.75em;
	}
	.details {
		padding: 30vh 0 5vh 10vw;
	}
	.details__bg--down {
		top: 30vh;
		height: 70vh;
	}
	.details__title {
    font-size: 2em;
    margin: -2.5em 0 0.1em;
	}
	.details__subtitle {
		font-size: 1em;
	}
	.details__price {
		font-size: 0.1px;
	}
	.details__description {
		width: 80%;
    font-size: 0.85em;
    margin: 0 0 2em;
	}
	.details__deco {
		height: 7px;
		width: 4em;
	}
	.details__img {
    right: 0;
    width: 100%;
    height: auto;
	}
	.details__magnifier {
		right: 7vh;
	}
	.codrops-header {
		padding: 1em 4em;
	}
	.codrops-header__title {
		font-weight: bold;
		padding-bottom: 0.25em;
		text-align: center;
		font-size: 1.25em;
	}
}
